<%= render 'question-show', question: question %>
<br>
<br>
<% if !@choosen_scenario.nil? %>
<div class="row">
  <div class="col-sm-12">
    <h3>Quick Stats Overview</h3>
    <h5> You have bet on: </h5>
    <h4> <%= @choosen_scenario.content.capitalize %></h4>
</div>
</div>
<% end %>
<div class="bordered card-sean padded-chart text-center">
  <div class="row">
    <div class="col-sm-6">
      <h3>Bets for each scenario</h3>
        <%= column_chart @column_chart, xtitle: "Scenarios", ytitle: "Number of bets", colors: ["#0000FF"]%>
      </div>
    <div class="col-sm-6">
      <h3>Certainty for each</h3>
      <%= bar_chart @bar_chart, xtitle: "Average Certainty", ytitle: "Scenarios", colors: ["#0000FF"]%> %>
    </div>
  </div>
</div>

<div class="bordered card-sean padded-chart text-center">
  <div class="row">
    <div class="col-sm-12">
      <h3>The other betters are coming from:</h3>
      <h3><%= geo_chart @result%></h3>
    </div>
  </div>
</div>

<div class="bordered card-sean padded-chart text-center">
  <div class="row">
    <div class="col-sm-12">

    <h4>Currently this is our prediction</h4>
    <p>based on our collective intellingence algorithm. <%= link_to "Find out more", faq_path %>.</p>
    <h3><%= @prediction.capitalize %></h3>
    <h6>When the question expires the final result will be displayed in your Dashboard. </h6>
    </div>
  </div>
</div>
<% if !@choosen_scenario.nil? %>

<%if @existing_bet.justification.nil? %>
  <div class="row">
    <div class="col-sm-12">
        <div class="bordered card-sean padded-chart text-center">

      <h3>Justify your bet</h3>
      <p>Provide an explanation [max 1000 char.] and the main source you relied on. <%= link_to "Find out more", faq_path %>.</p>

        <%= simple_form_for @existing_bet, url: question_bet_path(@question, @existing_bet) do |f| %>
        <%= f.input :justification, placeholder: 'Why did you bet on this scenario?'%>
        <%= f.input :Url, placeholder: 'What source did you use the most?'%>
        <%= f.submit 'Add justification' ,class: "btn btn-default"%>
        <%end%>
    </div>
    </div>
  </div>
<%end%>
<%end%>

  <%# if @existing_bet.justification.nil? == false %>
<div class="row">
  <div class="col-sm-12">
      <div class="bordered card-sean padded-chart text-center">

  <h3>Other Users' Justification</h3>
        <% @all_bets.each do |bet| %>
          <div class="white-back">
          <div class="justification-positionning">
          <div class="justification-flex-item2 text-center">
            <p> <strong>Upvotes</strong></p>
            <p><%= bet.just_upvotes.count %></p>
            <p><% if bet.just_upvotes.where(bet_id: bet.id, user_id: current_user.id).empty? %> <%= link_to "Upvote !", question_bet_just_upvotes_path(bet.scenario.question, bet), :method=> :post,  class: "btn btn-primary" %><%end%></p>
          </div>
          <div class="justification-flex-body">
            <p>  <strong><%=bet.user.first_name.capitalize %></strong></p>
            <div><%=bet.justification %></div>
          </div>
          <div class="justification-flex-item2">
            <p>  <strong>Source</strong></p>
            <p><%=bet.Url.capitalize unless bet.Url.nil? %></p>
          </div>
          </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>









  <%#end%>
