<%= render 'question-show', question: question %>


<div class="row">
<div class="col-sm-3">
    <div class="card-sean" id="resources-card">
      <div class="text-center">
      <h3>Resources</h3>
      <p>Ranked by popularity</p>
      </div>
      <% if @bets.empty? %>
      <div>| The most references sources </div>
      <div>| No resources yet</div>
      <% end %>
      <ol> <% @bets.each do |bet| %>
        <li>
          <%= bet.Url %>
        </li>
        <%end%>
      </ol>
    </div>
  </div>

  <div class="col-sm-9">
    <div class="card-sean text-center" id="bet_show_page">

      <h3>Scenarios</h3>
      <h4>Bet on 1 scenario</h4>
      <h4> by selecting a certainty level</h4>
      <p> <%= link_to "(Find out more)", faq_path %></p>

      <% @scenarios.each do |scenario|%>
        <%#= link_to scenario.id, '#', class: "js-scenario-choice", data: { id: scenario.id } %>
        <%= scenario.content.capitalize %>
        <%= bootstrap_form_for @bet, url: question_bets_path(@question) do |f| %>
        <%= f.hidden_field :scenario_id, value: scenario.id %>
        <input type="range" name='bet[estimation]' min="1" max="100" value="50" id="bet_estimation" class="bet_fader<%= scenario.id %>" step="1" oninput="minPrice(value, <%= scenario.id %>)">
        <h2 id="bet<%= scenario.id %>"> 50 </h2>
        <%= f.submit %>
      <%end%>
    <%end%>

    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card-sean">
    <h3>Bet on a Scenario to unlock other users' justifications</h3>

    </div>
  </div>
</div>
<script>
  function minPrice(vol, id) {
    var output_id = '#bet' + id;
    $(output_id).text(vol);
  }
  </script>
