<div class="card-sean">
  <div class="row">
    <div class="col-sm-2">
      <div class="arrow">
        <i class="fa fa-4x fa-chevron-circle-up" aria-hidden="true"></i>
      </div>
      <div class="votes">
        <h1><%= question.bets.count%></h1>
      </div>
    </div>

    <div class="col-sm-10">
      <h4>
        <%= question.content%>
      </h4>
      <strong>— End Date: <%= question.event_date%></strong>
      by <em><%= question.user.first_name%></em>
      <%= link_to question_path(question) do %>
        <%= render 'scenario', question: question %>
      <% end %>
      <hr>
      <%= link_to question_path(question), class: 'pull-right' do %>
        <h3>
          <span class="label btn-success">Expired</span>
        </h3>
      <% end %>
      <div class="social-shares">
        <p>Share</p>

        <ul class="list-inline">
          <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
        </ul>
      </div>
    </div>


  </div>
</div>
