
    <div class="col-xs-12 col-sm-12">
      <!-- <div class="container"> -->
        <div class="row card-row">
          <div class="col-xs-6 col-sm-1 question-upvotes">
            <div class="arrow">
              <%= image_tag("upvote_version1.png", class: "avatar", :alt => "upvote-arrow") %>
            </div>
            <div class="votes">
              <p><%= question.bets.count%> </p>
            </div>
         </div>

         <div class="hidden-xs col-sm-2 question-creator">
            <%= image_tag("user.jpg", class: "avatar-extra-large", :alt => "user") %>
            <p>name: <%= question.user.first_name%></p>
          </div>

          <div class="col-xs-12 col-sm-8">
            <div class="question-card">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= question.id %>" aria-expanded="false" aria-controls="collapseOne" class="collapsed">

                        <p>Content: <%= question.content%> </p>
                        <p>Event: <%= question.event_date%> </p>

                        <%= render 'scenario', question: question %>

                      </a>
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <div class="col-xs-12 col-sm-1 question-links">

          <div class="link-to-bet">
              <%= link_to 'Bet', question_path(question)%>
          </div>

          <div class="social-shares">
            <ul class="list-inline">
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
