<div class="card-wrapper"">
  <div class="row card-row">
    <div class="col-sm-2 question-upvotes">
      <div class="arrow">
        <%= image_tag("upvote_version1.png", class: "avatar", :alt => "upvote-arrow") %>
      </div>
      <div class="votes">
        <p><%= question.bets.count%></p>
      </div>
      <div class="social-shares">
        <p>Share the results</p>

        <ul class="list-inline">
          <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-sm-7">
      <div class="question-card">
        <h4 class="panel-title">
          <%= question.content%>
        </h4>
        <strong>— End Date: <%= question.event_date%></strong>
        by <em><%= question.user.first_name%></em>
        <%= render 'scenario', question: question %>
      </div>
    </div>

    <div class="col-sm-3 question-links">
      <%= link_to question_path(question) do %>
      <h3>
        <span class="label label-default">End Results</span>
      </h3>
      <% end %>
    </div>
  </div>

</div>
