<div class="row">
  <div class="card-wrapper">
    <div class="col-sm-1">
      <div class="upvotes_per_question">
        <p>Upvotes: <%= question.scenarios.count%> </p>
      </div>
    </div>


    <div class="col-sm-1">
      <div class="avatar">
        <%= image_tag("user.jpg", class: "avatar", :alt => "user") %>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="question-card">
        <div class="blabla">

          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel text-warning">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= question.id %>" aria-expanded="false" aria-controls="collapseOne" class="collapsed">


                    <p>Content: <%= question.content%> </p>
                    <p>Event: <%= question.event_date%> </p>
                    <p>user_first_name: <%= question.user.first_name%> </p>

                  </a>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="link_to_bet_and_social_shares">
        <%= link_to 'Go Dashboard', dashboard_statistics_path %>
      </div>
    </div>
  </div>
</div>
