<div class="row">
  <div class="card-wrapper">
    <div class="col-sm-1">
          <div class="upvotes_per_question">
             <p>Upvotes: <%= question.scenarios.count%> </p>
          </div>
    </div>


    <div class="col-sm-1">
          <div class="avatar">
            <%= image_tag("user.jpg", class: "avatar", :alt => "user") %>
          </div>
    </div>

    <div class="col-sm-8">
          <div class="question-card">
            <div class="panel-group" id="<%= question.id %>" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default" id = "blablawhite">
                <div class="panel-heading" role="tab" id="<%= question.id %>">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#<%= question.id %>" href="#<%= question.id %>" aria-expanded="false" aria-controls="<%= question.id %>" class="collapsed">


                      <p>Content: <%= question.content%> </p>
                      <p>user_first_name: <%= question.user.first_name%> </p>
                      <p>Event: <%= question.event_date%> </p>

                    </a>
                  </h4>
                </div>
              </div>
            </div>
          </div>
    </div>

    <div class="col-sm-2">
          <div class="link_to_bet_and_social_shares">
            <%= link_to 'Go Dashboard', dashboard_statistics_path %>
          </div>
    </div>
  </div>
</div>
