<div class="card-wrapper">
  <div class="row card-row">
    <div class="col-sm-2 question-upvotes">
      <div class="arrow">
        <%= image_tag("upvote_version1.png", class: "avatar", :alt => "upvote-arrow") %>
      </div>
      <div class="votes">
        <p><%= question.bets.count%></p>
      </div>
      <div class="social-shares">
        <p>Share the results</p>

        <ul class="list-inline">
          <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-sm-7">
      <div class="question-card">
        <h4 class="panel-title">
          <%= question.content%>
        </h4>
        <strong>— End Date: <%= question.event_date%></strong>
        by <em><%= question.user.first_name%></em>
        <%= link_to question_path(question) do %>
        <%= render 'scenario', question: question %>

        <% end %>
      </div>
    </div>

    <div class="col-sm-3" >
      <%= link_to question_path(question) do %>
      <div style="margin-bottom: 200px; margin-right: 10px">
        <h3>
          <span class="label btn-info">Pending</span>
        </h3>
      </div>

      <% end %>
    </div>
  </div>

</div>
