<div class="row">
  <div class="col-sm-3">
    <div class="card-sean text-center heigth-vote">

      <p>Upvotes</p>
      <p><%= question.bets.count%> </p>
    </div>
  </div>

  <div class="col-sm-9">
    <div class="card-sean card-sean-callout text-center">
      <div>
        <div class="avatar">
          <%= image_tag("user.jpg", class: "avatar", :alt => "user") %>
        </div>
        <h3><%= question.content.capitalize%> </h3>
        <h3><%= question.event_date%> </h3>
        <h3>The Issuer: <%= question.user.first_name%> </h3>
      </div>
    </div>
  </div>
</div>
