<div id="search-wrapper">
  <div class="row">
    <div class="container">
      <div class="col-xs-6 col-sm-6">
        <div id="info-homepage">
          <h3> What will the future bring? </h3>
          <h4> By crowdsourcing intelligence, we try to build a reliable picture of upcoming events.</h4>
          <br>
          <p> Are your expectations supported by others? </p>
          <p> Do you have a knack for forecasting? Try it out...</p>
          <p> More info.</p>
        </div>
      </div>

      <div class="col-xs-6 col-sm-6">
        <%= render 'shared/search-engine' %>
      </div>
    </div>
  </div>
</div>

<div id="question-home-wrapper">
  <div class="container">
    <div class="row">

      <!-- current -->
      <% if user_signed_in? %>
      <div class="col-xs-5 text-center">
        <h4> Pending & Expired Questions </h4>
        <% @unbetted_questions.take(7).each do |question| %>
        <% if question.event_date < DateTime.now.to_date %>
        <%= render 'question-purple', question: question %>
        <% elsif question.bets.where(user_id: current_user.id) %>
        <%= render 'question-blue', question: question %>
        <% end %>
        <% end %>
      </div>

      <div class="col-xs-5 col-xs-offset-1 text-center">
        <h4> New Questions </h4>
        <% @right_column_current_user.take(7).each do |question| %>
        <%= render 'question-green', question: question %>
        <% end %>
      </div>

      <%else%>
      <!-- visitor -->
      <div class="col-xs-5 text-center">
        <h4> Pending & Expired Questions </h4>
        <% @limited_questions.take(7).each do |question| %>
        <% question.event_date < DateTime.now.to_date %>
        <%= render 'question-purple', question: question %>
        <% end %>
      </div>

      <div class="col-xs-5 col-xs-offset-1 text-center">
        <h4> New Questions </h4>
        <% @limited_questions.take(7).each do |question| %>
        <% question.event_date > DateTime.now.to_date %>
        <%= render 'question-green', question: question %>
        <% end %>
      </div>

      <%end%>

    </div>
  </div>
</div>

<div id="randque-wrapper">
  <div class="container">
    <div class="row">

    <div class="col-xs-6">

     <div class="linking-cards-bottom-of-page">

        <div class="text-linking-card">
          <p> Do you know what tomorrow brings?</p>
          <h4> Check out your ranking </h4>
          <h4> in forecasting</h4>
          <br>
          <%= link_to bets_path do %>
          <h3>
            <span class="label label-default">Ranking</span>
          </h3>
          <% end %>
        </div>

         <div id="medal-icon">
          <%= image_tag("medal.svg", :alt => "medal") %>
        </div>

     </div>
  </div>

   <div class="col-xs-6">
    <div class="linking-cards-bottom-of-page">

      <div class="link-linking-card">
            <p> Dive in your personal statistics</p>
            <h4> Are you improving?</h4>
            <br>
            <br>
            <%= link_to dashboard_statistics_path(current_user) do %>
            <h3>
              <span class="label label-default">Your stats</span>
            </h3>
              <% end %>
      </div>

        <div id="stats-icon">
          <%= image_tag("stat-grow.png", :alt => "stat-grow") %>
        </div>

     </div>
    </div>

    </div>
  </div>
</div>
