<div id="search-wrapper">
  <div class="row">
  <div class="container">
      <div class="col-xs-6 col-sm-6">
        <div id="info-homepage">
          <h3> What will the future bring? </h3>
          <h4> By crowdsourcing intelligence, we try to build a reliable picture of upcoming events.</h4>
          <p> Are you expectations supported by others? </p>
          <p> Do you have a knack for forecasting? Try it out...</p>
          <p> More info.</p>
        </div>
      </div>

      <div class="col-xs-6 col-sm-6">
        <%= render 'shared/search-engine' %>
     </div>

  </div>
 </div>
</div>


<div id="question-home-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <% @searched_questions.each do |question| %>
          <% if question.event_date < DateTime.now.to_date %>
            <%= render 'question-purple', question: question %>
          <%else %>
            <% if current_user %>
              <% if question.bets.where(user_id: current_user.id).empty?%>
                <%= render 'question-green', question: question %>
              <% else %>
                <%= render 'question-blue', question: question %>
              <% end %>
            <%else%>

              <%= render 'question-green', question: question %>
            <% end %>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>

<div id= "randque-home-page">
  <%= render 'sidebar', randque: @randque %>
</div>
