<div id="search-wrapper">
  <div class="row">
    <div class="container">
      <div class="col-xs-6 col-sm-6">
        <div id="info-homepage">
          <h3> What will the future bring? </h3>
          <h4> By crowdsourcing intelligence, we try to build a reliable picture of upcoming events.</h4>
          <p> Are your expectations supported by others? </p>
          <p> Do you have a knack for forecasting? Try it out...</p>
          <p> More info.</p>
        </div>
      </div>

      <div class="col-xs-6 col-sm-6">
        <%= render 'shared/search-engine' %>
      </div>

    </div>
  </div>
</div>


<div id="question-home-wrapper">
  <div class="container">
    <div class="row">

      <!-- current -->
      <% if current_user%>
      <div class="col-xs-6">
        <h4> Pending & Expired Questions </h4>
        <% @searched_questions.each do |question| %>
        <% if question.event_date < DateTime.now.to_date %>
        <%= render 'question-purple', question: question %>
        <% end %>
        <% if question.bets.where(user_id: current_user.id) %>
        <%= render 'question-blue', question: question %>
        <% end %>
        <% end %>
      </div>

      <div class="col-xs-6">
        <h4> New Questions </h4>
        <% @searched_questions.each do |question| %>
        <% unless question.event_date > DateTime.now.to_date && question.bets.where(user_id: current_user.id).empty?%>
        <%= render 'question-green', question: question %>
        <% end %>
        <% end %>
      </div>

      <%else%>
      <!-- visitor -->
      <div class="col-xs-6">
      <h4> Pending & Expired Questions </h4>
        <% @searched_questions.each do |question| %>
          <% if question.event_date < DateTime.now.to_date %>
            <%= render 'question-purple', question: question %>
          <%else %>
            <% if current_user %>
              <% if question.bets.where(user_id: current_user.id).empty?%>
                <%= render 'question-green', question: question %>
              <% else %>
                <%= render 'question-blue', question: question %>
              <% end %>
            <%else%>

              <%= render 'question-green', question: question %>
            <% end %>
          <% end %>

        <% end %>
      </div>

      <div class="col-xs-6">
        <h4> New Questions </h4>
        <% @searched_questions.each do |question| %>
        <% question.event_date > DateTime.now.to_date %>
        <%= render 'question-green', question: question %>
        <% end %>
      </div>

      <%end%>

    </div>
  </div>
</div>


<%= render 'sidebar', randque: @randque %>

