
<!-- <if no search: display all
  if search :
    > -->


<!-- <SEARCH> -->
<div class="wrapper" id="search-wrapper">
  <div class="container">
     <div class="row">
      <div class="col-xs-12">

        <%= form_tag questions_path, method: "get" do %>
          <div class="row" style="color:black;">
             <!-- <input-field-for tags> -->
            <div class="col-lg-4">
              <%= text_field_tag(:search_term, nil, placeholder: "topic?") %>
            </div>
            <!-- <category-dropdown> -->
                <div class="dropdown col-lg-4">
                   <%= collection_select nil, :category, Category.all, :id, :title, prompt: "All categories" %>
                </div>
          </div>

            <!-- <button> -->
            <%= submit_tag("Search", class: 'btn btn-default btn-lg', id: "search-btn") %>
            <% end %>

      </div>
    </div>
  </div>
</div>



<!-- <questions.all> -->
<div class="wrapper" id="question-home-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">


        <h3>Questions list:</h3>
      </div>
    </div>


    <% @searched_questions.each do |question| %>
      <div class="card-wrapper">
        <div class="row">
          <%= render 'question', question: question %>
        </div>
      </div>
    <% end %>

  </div>
</div>
