
<!-- <SEARCH> -->
<div class="wrapper" id="search-wrapper">
  <div class="container">
     <div class="row">
      <div class="col-xs-12">
        <div id="search-engine" list-inline>
          <%= form_tag questions_path, method: "get" do %>
            <div id="top-tags-display">
              <!-- <top-tags> -->
              <% @top_tags.each do |tag| %>
                  <div class= 'btn btn-default' id="top-tag-btn">
                    <%= link_to tag.title, questions_path(search_term: tag.title) %>
                 </div>
              <% end %>
            </div>
            <div id="search-and-btn-display">
               <!-- <input-field-for tags> -->
                <%= text_field_tag(:search_term, @search, placeholder: "topic?") %>
              <!-- <category-dropdown> -->
                     <%= collection_select nil, :category, Category.all, :id, :title, prompt: "All categories", selected: params[:category] %>
              <!-- <button> -->
              <%= submit_tag("Search", class: 'btn btn-default btn-lg', id: "search-btn") %>
          <% end %>
             </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <questions.all> -->

<div class="wrapper" id="question-home-wrapper">
  <div class="container">
    <div class="row">
        <div class="col-xs-9 col-sm-9">

              <% @searched_questions.each do |question| %>


                <% if question.event_date < DateTime.now.to_date %>
                    <%= render 'question-purple', question: question %>

                <%else %>

                <% if current_user %>

                  <% if question.bets.where(user_id: current_user.id).empty?%>
                  <%= render 'question-green', question: question %>
                  <% else %>
                  <%= render 'question-blue', question: question %>
                  <% end %>

                <%else%>
                  <%= render 'question-green', question: question %>
                <% end %>
              <% end %>
             <% end %>
        </div>

        <div class="col-xs-3 col-sm-3">
          <div id= "randque-home-page">
            <%= render 'sidebar', randque: @randque %>
          </div>
        </div>
    </div>
  </div>
</div>
