<ul class="nav navbar-nav list-inline">
  <li class =''>
    <%= link_to 'Personal Stats', dashboard_statistics_path  %>
  </li>

  <li class ='nav-pill'>
    <%= link_to 'Selected for Later', dashboard_questions_path %>
  </li>
  <li class ='nav-pill'>
    <%= link_to 'Current Bets', dashboard_bets_path %>
  </li>
  <li class ='nav-pill'>
    <%= link_to 'Past Bets', 'history' %>
  </li>
  <li class ='nav-pill'>
    <%= link_to 'Messages', dashboard_notifications_path %>
  </li>
</ul>
