
<div class="container">
<% if current_user.admin && true == false %>
<div class="row">
<div class="col-sm-offset-4 col-sm-4">
<div class="text-center">


<div>

<ul>
<% unless @final_hash.nil?   %>
<% @final_hash.each do |key, value| %>
<li>
  <%= key %> : <%= value %>
</li>
<% end %>
<% end %>


</ul>
</div>
</div>
</div>
</div>
<% end %>
</div>


<div class="container">

<%# @weeks.each do |week| %>

<div class="row">
  <div class="col-sm-offset-1 col-sm-10">
<div class="card-sean">

    <h3> THE RANKING OF THE WEEK </h3>
    <table class="table table-bordered">

      <thead>
        <tr>
          <th><strong>User</strong></th>
          <th><strong>Score</strong></th>
          <th><strong>Justification Upvotes</strong></th>
          <th><strong>Question Upvotes</strong></th>
        </tr>
        <tbody>
          <% @final_hash.each do |user| %>
            <% if user.first == current_user %>
              <tr bgcolor="red" style="color: white;">
                <td><%= user[0].first_name%></td>
                <td><%= user[1][0]%></td>
                <td><%= user[1][1]%></td>
                <td><%= user[1][2]%></td>

              </tr>
            <% else %>
              <tr>
                <td><%= user[0].first_name%></td>
                <td><%= user[1][0]%></td>
                <td><%= user[1][1]%></td>
                <td><%= user[1][2]%></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
       </thead>
    </table>
  </div>
</div>
<% @index += 1 %>
<%# end %>
</div>
</div>
