<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="center-block">
      <%= link_to root_path do %>

      <div class="navbar-left">
      <%= image_tag 'logoProno.png',  class:'img-responsive', width: '80px' %>
    </div>
      <div class="navbar-left" style="color: white">
        <h3> Pronostik </h3>

    </div>
    <% end %>

     <div class="nav navbar-right">

      <ul class="nav navbar-nav list-inline">
        <li ='nav-pill'>  <%= link_to '   FAQ', faq_path, class: 'fa fa-question-circle' %></li>
        <li ='nav-pill'>  <%= link_to 'Explore', questions_new_index_path %></li>
        <li ='nav-pill'>  <%= link_to 'Popular', questions_good_index_path %></li>
        <% if user_signed_in? %>
        <li class ='nav-pill'>
          <%= link_to 'Ranking', bets_path %>
        </li>
        <li class ='nav-pill'>
          <%= link_to 'Dashboard' , dashboard_statistics_path %>
        </li>
        <li class ='nav-pill'>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        </li>
        <% else %>
        <li class ='nav-pill'>
          <%= link_to 'Sign in', new_user_session_path %>
        </li>
        <% end %>

      </ul>
    </div>

    </div>
</nav>
