

<nav class="nav navbar navbar-default">

  <div class="container-fluid", id="navbar-pronostik">
    <div class="center-block">

    <div class="navbar-left">
      <%= link_to root_path do %>
      <%= image_tag 'logoProno.png',  class:'img-responsive', width: '80px' %>
      <% end %>

    </div>
    <div class="navbar-left">
     <h3 style:'text-color: pink'> Pronostik </h3>
    </div>
     <div class="nav navbar-right">

      <ul class="nav navbar-nav list-inline">
        <li ='nav-pill'>  <%= link_to '', faq_path, class: 'fa fa-question-circle' %></li>
        <li ='nav-pill'>  <%= link_to 'New', questions_new_index_path %></li>
        <li ='nav-pill'>  <%= link_to 'Good', questions_good_index_path %></li>
        <% if user_signed_in? %>
        <li class ='nav-pill'>
          <%= link_to 'Ranking', bets_path %>
        </li>
        <li class ='nav-pill'>
          <%= link_to 'Dashboard' , dashboard_statistics_path %>
        </li>
        <li class ='nav-pill'>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        </li>
        <% else %>
        <li class ='nav-pill'>
          <%= link_to 'Sign in', new_user_session_path %>
        </li>
        <% end %>

      </ul>
    </div>

    </div>
</nav>
