<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="center-block">
      <div class="navbar-left">
        <%= link_to root_path, class: 'navbar-logo' do %>
          <%= image_tag 'logoProno.png',  class:'img-responsive', width: '80px' %>
          <h2 class="navbar-logo-title">Pronostik</h2>
        <% end %>
      </div>

     <div class="nav navbar-right">
      <ul class="nav navbar-nav list-inline text-center">
        <li class="nav-pill">
          <%= link_to questions_good_index_path, class: 'bounce-animation anim-popular' do %>
            <i class="fa fa-fw fa-2x fa-fire"></i>
            <div>Popular</div>
          <% end %>
        </li>
        <li class="nav-pill">
          <%= link_to questions_new_index_path, class: 'bounce-animation anim-explore' do %>
            <i class="fa fa-fw fa-2x fa-globe"></i>
            <div>Explore</div>
          <% end %>
        </li>
        <li class="nav-pill">
          <%= link_to faq_path, class: 'bounce-animation anim-faq' do %>
            <i class="fa fa-fw fa-2x fa-question-circle"></i>
            <div>FAQ</div>
          <% end %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-pill">
            <%= link_to bets_path, class: 'bounce-animation anim-ranking' do %>
              <i class="fa fa-fw fa-2x fa-trophy"></i>
              <div>Ranking</div>
            <% end %>
          </li>
          <li class="nav-pill">
            <%= link_to dashboard_statistics_path, class: 'bounce-animation anim-tachometer' do %>
              <i class="fa fa-fw fa-2x fa-tachometer"></i>
              <div>Dashboard</div>
            <% end %>
          </li>

          <li class="nav-pill hidden-xs">
            <%= link_to destroy_user_session_path, method: :delete, class: 'bounce-animation anim-sign' do %>
              <i class="fa fa-fw fa-2x fa-sign-out"></i>
              <div>Sign Out</div>
            <% end %>
          </li>
        <% else %>
          <li class="nav-pill">
            <%= link_to new_user_session_path, class: 'bounce-animation anim-sign' do %>
              <i class="fa fa-fw fa-2x fa-sign-in"></i>
              <div>Sign in</div>
            <% end %>
          </li>
        <% end %>

      </ul>
    </div>
    </div>
    </div>
</nav>
