<nav class="nav navbar navbar-default">
  <div class="container-fluid">
    <div class="center-block text-center">

    <div class="nav">
      <%= link_to root_path do %>
      <%= image_tag 'logotest.png',  class:'img-responsive', width: '80px' %>
      <% end %>
    </div>
  </div>

    <div class="nav navbar-right">

      <ul class="nav navbar-nav list-inline">
        <% if user_signed_in? %>
        <li class ='nav-pill'>
          <%= link_to 'Dashboard' , dashboard_statistics_path %>
        </li>
        <li class ='nav-pill'>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        </li>
        <% else %>
        <li class ='nav-pill'>
          <%= link_to 'Sign in', new_user_session_path %>
        </li>
        <% end %>

      </ul>

    </div>
</nav>
