<div id="search-engine">

  <div id="top-tags-display">
    <%= form_tag questions_path, method: "get" do %>
    <div id="pop-topics-title">
      <p> Popular Topics: </p>
    </div>
    <!-- <top-tags> -->
    <% @top_tags.each do |tag| %>
    <div id="top-tag-buttons">
      <%= link_to tag.title, questions_path(search_term: tag.title) %>
    </div>
    <% end %>
  </div>

  <div id="search-and-btn-display">
   <!-- <input-field-for tags> -->
   <%= text_field_tag(:search_term, @search, placeholder: "topic?") %>
   <!-- <category-dropdown> -->
   <%= collection_select nil, :category, Category.all, :id, :title, prompt: "All categories", selected: params[:category] %>
   <!-- <button> -->
   <%= submit_tag("Search", class: 'btn btn-default btn-lg', id: "search-btn") %>
   <% end %>
 </div>
</div>
