<%= render 'dashboard/top_bar' %>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <div class="panel panel-info" style="background-color: #bdc3c7;" >
        <div class="panel-header">
          <div class="nav nav-success inline-block">
            <div class="navbar-header list-inline">
              <%= render 'dashboard/perso_nav' %>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="panel panel-default panel-boredered">
            <% if @queries.empty? %>
            <h3> All qestions left for later have been answered ! </h3>
            <h4> Find new questions or post a new one ;) </h4>
            <%else%>
            <% @queries.each do |question| %>
            <%= link_to question_path(question) do %>
            <div class="card-sean">
              <div class="panel-header">
                <strong> <%= question.content %> : </strong>
              </div>
              <ul>  <% question.scenarios.each do |scen| %>
                <li>
                  <%= scen.content %>
                  <% end %>
                </li>
                <% end %>
              </ul>
            </div>
            <% end %>
          </div>
          <%end%>
          <div class="panel-footer">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>

<div id="randque-wrapper-dashboard">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <%= render 'dashboard/side_bar', randque: @randque %>
      </div>
    </div>
  </div>
</div>
