<%= render 'dashboard/top_bar' %>
<br><br>
<div class="container">
<%  if @today %>
  <%= render 'dashboard/announce-new-score' %>
  <% end %>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="panel panel-info"  style="border: solid 1px black">
        <div class="panel-header">
          <div class="nav nav-success  inline-block">
            <div class="navbar-header list-inline">
              <%= render 'dashboard/perso_nav' %>
            </div>

          </div>
        </div>
        <div class="panel-body">
          <div class="panel-body">

            <% @queries.each do |query| %>
            <div class="panel panel-default panel-boredered">


              <div class="panel-header">

                <strong> <%= query.content %> </strong>
              </div>
              <ul>

                <%  query.scenarios.each do |scen| %>
                <li>  <%= scen.content %> <%= ' : happened ' if scen.happened %>  </li>

                <% end %>

              </ul>
            </div>

            <% end %>
          </div>
        </div>
        <div class="panel-footer">

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-sm-offset-1">

        <%= render 'dashboard/side_bar', randque: @randque %>
      </div>
    </div>


  </div>
</div>
